.banner {
    min-height: 100vh;
    position: relative;

    .banner-content {
        position: relative;
        padding: 0 80px;

        .header-wrapper {
            position: absolute;
            top: 40vh;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            h1 {
                position: relative;
                height: 4.375rem;

                span {
                    color: white;
                    font-size: 4.375rem;


                    @media (max-width: 95.3125em) {
                        font-size: 4.375rem;
                    }

                    @media (max-width: 56.25em) {
                        font-size: 9vw;
                    }

                    &.slash {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        // transform: translate(-50%, -50%) rotate(24deg) scaleY(0);
                        transform: translate(-50%, -50%) rotate(24deg) scaleY(1);
                        transform-origin: center center;
                        width: 0.15rem;
                        height: 145%;
                        background: white;
                        z-index: 4;
                        animation: slash 3s ease-in;
                    }

                    &.text-left {
                        position: absolute;

                        left: 50%;

                        top: -60px;

                        transform: translateX(-190px);
                    }

                    &.text-right {
                        position: absolute;

                        right: 50%;

                        transform: translateX(230px);

                        top: -15px;
                    }
                }
            }

            i {
                display: block;
                color: white;
                position: absolute;
                top: 10rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

    }

    .banner-background {
        background-image: url("https://images.unsplash.com/photo-1495389047458-1e01efc9d476?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2046&q=80");
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(1);
        background-color: black;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.7;
        }
    }

    @keyframes animateToLeft {
        0% {
            opacity: 0;
            transform: translateX(-200px);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes animateToRight {
        0% {
            opacity: 0;
            transform: translateX(200px);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes slash {
        0% {
            -webkit-transform: translate(-50%, -50%) rotate(24deg) scaleY(0);
            transform: translate(-50%, -50%) rotate(-90deg) scaleY(0);
        }

        6% {
            -webkit-transform: translate(-50%, -50%) rotate(24deg) scaleY(0);
            transform: translate(-50%, -50%) rotate(-45deg) scaleY(0);
        }

        13% {
            -webkit-transform: translate(-50%, -50%) rotate(24deg) scaleY(0);
            transform: translate(-50%, -50%) rotate(0deg) scaleY(0);
        }

        25% {
            -webkit-transform: translate(-50%, -50%) rotate(24deg) scaleY(1);
            transform: translate(-50%, -50%) rotate(24deg) scaleY(0.8);
        }

        100% {
            -webkit-transform: translate(-50%, -50%) rotate(24deg) scaleY(1);
            transform: translate(-50%, -50%) rotate(24deg) scaleY(1);
        }
    }
}